= render 'shared/general_header', headline: 'Contact'
%section#contact.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 Get in Touch!
      %p Follow us on social media to get the latest updates about design and development of NationBuilder sites. Use the form below to contact us with questions or potential projects, or to just say hello!
      /%h3.margin0.padbottommore Contact Us
      = flash[:notice]
      = form_tag("/thanks") do
        .row.padbottom20
          .col-md-6.col-md-offset-3
            .form-group
              = label_tag :name, "Name"
              = text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name"
            .form-group
              = label_tag :email, "Email Address"
              = text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email"
            .form-group
              = label_tag :message, "Message"
              = text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message"
            = submit_tag "Send", class: "btn btn-default"

      /
        %p.padtopmore
          %a{:href => 'mailto:info@codenation.com', :target => '_blank'} info@codenation.com
      %h3.margin0.padtop20.padbottom20 Follow Us
      %ul.list-inline.banner-social-buttons
        %li
          %a.btn.btn-default.btn-lg{:href => 'https://twitter.com/CodeNationCrew', :target => '_blank'}
            %i.fa.fa-twitter.fa-fw
            %span.network-name Twitter
        %li
          %a.btn.btn-default.btn-lg{:href => 'https://github.com/code-nation', :target => '_blank'}
            %i.fa.fa-github.fa-fw
            %span.network-name GitHub
        %li
          %a.btn.btn-default.btn-lg{:href => 'https://medium.com/@codenation', :target => '_blank'}
            %i.fa.fa-medium.fa-fw
            %span.network-name Medium

#map
