= render 'shared/home_header'

- if @featured_product
	%section#featured_product.container.content-section.text-center
		.padtop100
			.row.padbottommore
				.col-md-6.col-md-offset-3.padbottommore
					%h2
						= link_to @featured_product.name, @featured_product
					%a{:href => product_path(@featured_product)}
						%div.padbottommore.featured-image
							= image_tag(@featured_product.image_url, class:"")
							#ribbon-container
								%span FEATURED
					%h3.margin0.padbottom
						#{number_to_currency(@featured_product.price)}
					%p.margin0.product-description.padbottom
						#{@featured_product.description}
					%p.margin0.padbottom
						%em Available in #{@featured_product.colour}

/
	- if @products
		= render partial: "shared/product_carousel", locals: {products: @products}

%section#store.content-section.text-center
	.store-section
		.container
			.row
				.col-lg-8.col-lg-offset-2
					%h2 Online Store
					%h3 Grab a bargain!
					%p.margin0.padbottom
						Come here to purchase and download our latest things and stuff. For the best in digital resources, you won't find a better deal anywhere else.
					%p.margin0.padbottom25
						%strong
							Ready to check out the store?

					= link_to "Let's go shopping!", products_path, {:class => "btn btn-default btn-lg"}
