= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :first_name, {:class => "control-label show text-left"}
    = f.text_field :first_name, {:class => "form-control", :placeholder => :first_name}
  .form-group
    = f.label :last_name, {:class => "control-label show text-left"}
    = f.text_field :last_name, {:class => "form-control", :placeholder => :last_name}
  .actions
    = f.submit 'Save', {:class => "btn btn-default btn-lg"}

