%section.container.content-section.text-center
	.padtop100
		.row
			.col-md-6.col-md-offset-3
				%p#notice= notice

				%h2.margin0.padbottom25 Name: #{@user.first_name} #{@user.last_name}

				.padtopmore
					= link_to 'Back', users_path, {:class => "btn btn-default btn-sm"}
					= link_to 'Edit', edit_user_path(@user), {:class => "btn btn-default btn-sm"}
