= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, {:class => "control-label show text-left"}
    = f.text_field :name, {:class => "form-control", :placeholder => :name}
  .form-group
    = f.label :description, {:class => "control-label show text-left"}
    = f.text_area :description, {:class => "form-control", :placeholder => :description}
  .form-group
    = f.label :image_url, {:class => "control-label show text-left"}
    = f.text_field :image_url, {:class => "form-control", :placeholder => :image_url}
  .actions
    = f.submit 'Save', {:class => "btn btn-default btn-lg"}
