/ = render 'shared/general_header', headline: 'Our Products'
%section.container.content-section.text-center
	.padtop100
		.row
			.col-md-6.col-md-offset-3
				%p#notice= notice
				%h1.margin0.padbottom25 #{@product.name}
				%div.padbottom20
					#{image_tag(@product.image_url)}
				%h3.margin0.padbottommore
					Price: #{number_to_currency(@product.price)}
				.padbottommore
					.rated{"data-score" => @product.average_rating}
				%p.margin0.padbottommore #{@product.description}
				%p.margin0.padbottom20
					%em Available in #{@product.colour}
				%p.margin0.padbottom25
					= link_to 'Edit', edit_product_path(@product), {:class => "btn btn-default btn-sm"}
					= link_to 'Destroy', @product, :class => "btn btn-default btn-sm", :method => :delete, :data => { :confirm => 'Are you sure?' }

				= link_to 'See all products', products_path, {:class => "btn btn-default btn-lg"}

				.padtop25
					= render 'new_comment'
				.padtop25
					= render 'comments'
